.vscode
data
CVI/*
doc/*
out/*
abstract_files
!CVI/CVI-county-pct/
*.gis.csv
doc
out
prog
test
writing
.ipynb_checkpoints/
*.ipynb
*cvi_abstract.ipynb
*.html
*.pdf
*.docx
*.pptx
place_health.code-workspace